/vendor
/node_modules
/public/storage
/storage/*.key
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views

.env
.env.backup
.env.production

.phpunit.result.cache
Homestead.json
Homestead.yaml

/.idea
/.vscode
*.swp
*.swo

npm-debug.log
yarn-error.log

.DS_Store
Thumbs.db